@page "/editchallenge"
@page "/editchallenge/{Id}"
@attribute [Authorize(Roles = "admin,segmentadmin")]
@using BlazorApp.Client.Utils
@using BlazorApp.Shared
@using Blazored.TextEditor
@using System.Text
@inject AppState AppStateStore
@inject BackendApiRepository Api
@inject NavigationManager NavigationManager

<h3>Challenge editieren</h3>
<BlazorApp.Client.Shared.NotificationMessage @ref="@_notificationMessage" />

<EditForm Model="@_challenge" OnValidSubmit="OnSave">
    <DataAnnotationsValidator />
        <div class="form-group">
            <label for="title">Titel</label>
            <InputText id="title" aria-describedby="titleHelp" class="form-control" @bind-Value="_challenge.ChallengeTitle" autocomplete="on" placeholder="Titel" />
            <small id="titleHelp" class="form-text text-muted">
                Titel der Challenge
            </small>
        </div>
        <div class="form-group mt-3">
            <label for="description">Beschreibung</label>
            <BlazoredTextEditor @ref="_htmlDescription" Placeholder="Beschreibung des Segments">
                <ToolbarContent>
                    <span class="ql-formats">
                        <select class="ql-font">
                            <option selected=""></option>
                            <option value="serif"></option>
                            <option value="monospace"></option>
                        </select>
                        <select class="ql-size">
                            <option value="small"></option>
                            <option selected=""></option>
                            <option value="large"></option>
                            <option value="huge"></option>
                        </select>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-bold"></button>
                        <button class="ql-italic"></button>
                        <button class="ql-underline"></button>
                    </span>
                    <span class="ql-formats">
                        <select class="ql-color"></select>
                        <select class="ql-background"></select>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-list" value="ordered"></button>
                        <button class="ql-list" value="bullet"></button>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-link"></button>
                    </span>
                </ToolbarContent>
                <EditorContent>
                    @if (null != _challenge.Description)
                    {
                        @((MarkupString)_challenge.Description)
                    }
                </EditorContent>
            </BlazoredTextEditor>
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <InputText id="image" aria-describedby="imageHelp" class="form-control" @bind-Value="_challenge.ImageLink" autocomplete="on" placeholder="Image-Link" />
            <small id="imageHelp" class="form-text text-muted">
                Optional: Link zu einem Image, das im in der Headline angezeigt werden soll.
            </small>
        </div>
        <div class="form-group">
            <label for="urlTitle">Url-Titel</label>
            <InputText id="urlTitle" aria-describedby="urlTitleHelp" class="form-control" @bind-Value="_challenge.UrlTitle" autocomplete="on" placeholder="Url-Titel" />
            <small id="imageHelp" class="form-text text-muted">
                Optional: Titel für URL zum direkten Aufruf.
            </small>
        </div>
        <div class="form-group">
            <label for="startDate">Start-Datum</label>
            <InputDate id="startDate" aria-describedby="startDateHelp" class="form-control" @bind-Value="_challenge.StartDateUTC" autocomplete="on" placeholder="Startdatum" />
            <small id="startDateHelp" class="form-text text-muted">
                Startdatum der Challenge.
            </small>
        </div>
        <div class="form-group">
            <label for="endDate">Enddatum</label>
            <InputDate id="endDate" aria-describedby="endDateHelp" class="form-control" @bind-Value="_challenge.EndDateUTC" autocomplete="on" placeholder="Enddatum" />
            <small id="endDateHelp" class="form-text text-muted">
                Enddatum der Challenge.
            </small>
        </div>


        <ValidationSummary />
        <BlazorApp.Client.Shared.NotificationMessage @ref="@_saveMessage" />

        <button type="submit" id="BtnSave" class="btn btn-primary">Speichern</button>
        <button type="reset" id="BtnCancel" class="btn btn-secondary" @onclick="@(() => OnCancel())">Zurück ohne Speichern</button>
</EditForm>

@code {
    [Parameter]
    public string Id { get; set; } = String.Empty;
    private NotificationMessage? _notificationMessage;
    private NotificationMessage? _saveMessage;
    private BlazoredTextEditor? _htmlDescription;
    private StravaSegmentChallenge _challenge = new StravaSegmentChallenge();
    private Boolean _inUpdateMode = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (!String.IsNullOrEmpty(Id))
            {
                StravaSegmentChallenge? _challengeFromDb = await Api.GetChallenge(Id);
                if (null != _challengeFromDb)
                {
                    _challenge = _challengeFromDb;
                    _inUpdateMode = true;
                }
            }
        }
        catch (Exception ex)
        {
            _notificationMessage?.ShowError($"Fehler: {ex.Message}");
            return;
        }
    }
    protected void OnCancel()
    {
        NavigationManager.NavigateTo($"/");
    }
    private string? StripEmptyHtml(string htmlContent)
    {
        return (null == htmlContent || htmlContent.Equals("<p><br></p>")) ? null : htmlContent;
    }

    private async Task OnSave()
    {
        _notificationMessage?.Hide();

        try
        {
            _saveMessage?.Hide();
            StateHasChanged();
            _challenge.Description = StripEmptyHtml(await _htmlDescription!.GetHTML());
            _challenge.StartDateUTC = _challenge.StartDateUTC.ToUniversalTime();
            _challenge.EndDateUTC = _challenge.EndDateUTC.ToUniversalTime();
            //await Api.WriteChallenge(_challenge);
            NavigationManager.NavigateTo($"/");
        }
        catch (Exception ex)
        {
            _notificationMessage?.ShowError($"Fehler beim Speichern: {ex.Message}");
        }
    }




}
