@page "/myactivity"
@using BlazorApp.Client.Utils
@using BlazorApp.Shared
@using Blazored.TextEditor
@using System.Text
@inject AppState AppStateStore
@inject BackendApiRepository Api
@inject NavigationManager NavigationManager

<PageTitle>
    Bergfest - Aktivität nachreichen
</PageTitle>
<div class="m-2 p-4 bg-light border">
    <EditArticle ArticleKey="PostActivity" ImageMaxHeight="8em">
        <h2>Aktivität nachreichen</h2>
        <p>
            Hier könnt ihr eine Aktivität manuell "nachreichen", Dazu zunächst über "Connect with Strava" bei Strava anmelden und 
            dann die Aktivitäts-ID einer Aktivität eingeben. Die Id sieht man in Strava (Desktob-Version) in der URL zu einer 
            Aktivität. Beispiel: In dem Link zur Aktivität https://www.strava.com/activities/7845259896 ist die Aktivitäs-Id "7845259896". Diese Id in das Eingabefeld übernehmen und dann "Abschicken". Die Aktivität muss von euch selbst sein, d.h. ihr könnt nicht für andere hier Aktivitäten nachreichen.
            Nach dem "Abschicken" wird die Aktivität im Hintergrund analysiert, ob eins der Segmente aus Bergfest gefahren wurde. Das Ergebnis seht ihr später auf der Segment-Seite - falls ihr eine gültige Aktivitäts-Id eingegeben habt.
        </p>
    </EditArticle>
    <StravaConnect Code="@Code" Error="@Error" OnConnectedCallback="StateHasChanged"></StravaConnect>

</div>
<BlazorApp.Client.Shared.NotificationMessage @ref="@_notificationMessage" />

@if (AppStateStore.IsConnectedWithStrava)
{
    <EditForm Model="@_stravaEvent" OnValidSubmit="OnPost">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label for="activityId">Activity-Id</label>
            <InputText id="activityId" aria-describedby="activityIdHelp" class="form-control" @bind-Value="_activityIdInput" autocomplete="on" placeholder="Activity-Id"></InputText>
            <small id="activityIdHelp" class="form-text text-muted">
                Id der Aktivität, die ausgewertet werden soll.
            </small>
        </div>
        <ValidationSummary />
        <BlazorApp.Client.Shared.NotificationMessage @ref="@_saveMessage" />

        <button type="submit" id="BtnSave" class="btn btn-primary">Abschicken</button>

    </EditForm>
}

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "code")]
    public string Code { get; set; } = String.Empty;
    [Parameter]
    [SupplyParameterFromQuery(Name = "error")]
    public string Error { get; set; } = String.Empty;

    private NotificationMessage? _notificationMessage;
    private NotificationMessage? _saveMessage;
    private string _activityIdInput = String.Empty;
    private StravaEvent _stravaEvent = new StravaEvent();

    private async Task OnPost()
    {
        _notificationMessage?.Hide();

        try
        {
            _saveMessage?.Hide();
            StateHasChanged();
            _stravaEvent.EventType = StravaEvent.ObjectType.Activity;
            _stravaEvent.Aspect = StravaEvent.AspectType.Update;
            _stravaEvent.AthleteId = (ulong)AppStateStore.AthleteId;
            _stravaEvent.ObjectId = Convert.ToUInt64(_activityIdInput);
            if (_stravaEvent.ObjectId == 0)
            {
                throw new Exception("Id einer Aktivität eingeben!");
            }
            await Api.PostStravaEvent(_stravaEvent);
            _notificationMessage?.ShowInfo("Aktivität geschickt.");
        }
        catch (Exception ex)
        {
            _notificationMessage?.ShowError($"Fehler beim Speichern: {ex.Message}");
        }
    }

}