@page "/scopes"
@using BlazorApp.Client.Utils
@using BlazorApp.Shared
@inject AppState AppStateStore
@inject BackendApiRepository Api
@inject NavigationManager NavigationManager

<PageTitle>
    Bergfest - Sammlungen
</PageTitle>

<div class="p-4 bg-light border">
    <EditArticle ArticleKey="Scopes" ImageMaxHeight="8em">
        <h2>Sammlungen</h2>
        <p>
            Dies sind Sammlungen von Segmenten z.B. für Routen.
        </p>
    </EditArticle>
</div>
<BlazorApp.Client.Shared.NotificationMessage @ref="@_notificationMessage" />

<div class="row">
    @foreach (StravaSegmentChallenge c in _challengesPublic)
    {
        <div class="col-12 col-sm-6 col-lg-4 col-xl-4 mt-2">
            <ChallengeSummaryCard Challenge="@c" Title="@c.ChallengeTitle"
                                  ShowDescription="true" 
                                  ShowImage="true"
                                  ShowFooter="true"
                                  ShowRating="false"
                                  ShowResults="false"
                                  ShowSegments="true">
            </ChallengeSummaryCard>
        </div>
    }
</div>

<AuthorizeView Roles="admin,segmentadmin">
    <Authorized>
        <hr />
        <h4>Nicht öffentliche Sammlungen</h4>
        <p>Die folgenden Sammlungen sind nur per direktem Link sichtbar.</p>
        <div class="row">
            @foreach (StravaSegmentChallenge c in _challengesPrivate)
            {
                <div class="col-12 col-sm-6 col-lg-4 col-xl-4 mt-2">
                    <ChallengeSummaryCard Challenge="@c" Title="@c.ChallengeTitle"
                                      ShowDescription="true"
                                      ShowImage="true"
                                      ShowFooter="true"
                                      ShowRating="false"
                                      ShowSegments="true"
                                      ShowResults="false">
                    </ChallengeSummaryCard>
                </div>
            }
        </div>
    </Authorized>
</AuthorizeView>


@code {
    private NotificationMessage? _notificationMessage;
    IEnumerable<StravaSegmentChallenge> _challengesPublic = new List<StravaSegmentChallenge>();
    IEnumerable<StravaSegmentChallenge> _challengesPrivate = new List<StravaSegmentChallenge>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await Reload();
        }
        catch (Exception ex)
        {
            _notificationMessage?.ShowError($"Fehler: {ex.Message}");
            return;
        }
    }

    private async Task Reload()
    {
        try
        {
            _notificationMessage?.Hide();
            List<StravaSegmentChallenge> challenges = new List<StravaSegmentChallenge>(await Api.GetChallenges());
            _challengesPublic = challenges.Where(c => c.IsPublicVisible && c.ForRoute);
            _challengesPrivate = challenges.Where(c => !c.IsPublicVisible && c.ForRoute);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            _notificationMessage?.ShowError($"Fehler: {ex.Message}");
        }
    }

}
