@page "/stravaresponse"
@using BlazorApp.Shared
@using BlazorApp.Client.Utils
@inject AppState AppStateStore
@inject BackendApiRepository Api
@inject NavigationManager NavigationManager

<h3>Strava</h3>
<BlazorApp.Client.Shared.NotificationMessage @ref="@_notificationMessage" />
@if (null != _stravaAccount)
{
    <div>
        <p>Vorname: @_stravaAccount.FirstName</p>
        <p>Nachname: @_stravaAccount.LastName</p>
        <p>Id: @_stravaAccount.AthleteId</p>
        <p>RefreshToken: @_stravaAccount.RefreshToken</p>
        <p>AccessToken: @_stravaAccount.AccessToken</p>
    </div>
}

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "code")]
    public string Code { get; set; } = String.Empty;
    [Parameter]
    [SupplyParameterFromQuery(Name = "error")]
    public string Error { get; set; } = String.Empty;
    private NotificationMessage? _notificationMessage;
    private StravaAccess? _stravaAccount = null;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (!String.IsNullOrEmpty(Code))
            {
                StravaAccess? stravaAccount = await Api.AuthorizeBergfestOnStrava(Code);
                if (null == stravaAccount)
                {
                    throw new Exception("No strava response received.");
                }
                _stravaAccount = stravaAccount;
            } else
            {
                await Api.GetFunctionsVersion();
                throw new Exception($"Zugriff verweigert.");
            }
        }
        catch (Exception ex)
        {
            if (null != _notificationMessage)
            {
                _notificationMessage.ShowError($"Fehler: {ex.Message}");
            }
            return;

        }
    }
}