@using System.Linq
@using System.Collections.Generic
@using BlazorApp.Shared
@using BlazorApp.Client.Utils
@inject AppState AppStateStore
@inject BackendApiRepository Api
@inject NavigationManager NavigationManager


<div class="card">
    <div class="card-header">
        <em>
            @SegmentWithEfforts.StravaSegment.SegmentName
            <text>&nbsp;</text><a href="@SegmentWithEfforts.StravaSegment.GetSegmentLink()" target="_blank" title="Segment auf Strava" alt="Segment auf Strava"><span class="oi oi-link-intact"></span></a>
        </em>
        @foreach (string tag in SegmentWithEfforts.StravaSegment.GetLabels())
        {
            <span class="badge bg-info text-dark p-2 m-1">
                @tag
            </span>
        }
        @if (!SegmentWithEfforts.StravaSegment.IsEnabled)
        {
            <span class="badge bg-warning text-dark p-2 m-1">
                inaktiv
            </span>
        }
    </div>
    @if (!String.IsNullOrEmpty(SegmentWithEfforts.StravaSegment.ImageLink))
    {
        <a href="@SegmentWithEfforts.StravaSegment.GetSegmentLink()" target="_blank">
            <img class="card-img-top" src="@SegmentWithEfforts.StravaSegment.ImageLink" alt="@SegmentWithEfforts.StravaSegment.SegmentName">
        </a>
    }
    <div class="card-body">
        <div class="row">
            <div class="col border-0">
                <p class="small mb-0 text-muted">Distanz</p>
                <p class="h6 mb-0 mt-0">@SegmentWithEfforts.StravaSegment.GetDistanceAsText()</p>
            </div>
            <div class="col border-0">
                <p class="small mb-0 text-muted">Hm</p>
                <p class="h6 mb-0 mt-0">@SegmentWithEfforts.StravaSegment.Elevation.ToString("N0")<text>m</text></p>
            </div>
            <div class="col border-0">
                <p class="small mb-0 text-muted">Steigung</p>
                <p class="h6 mb-0 mt-0">@SegmentWithEfforts.StravaSegment.AverageGrade.ToString("N2")%</p>
            </div>
            <div class="col border-0">
                <p class="small mb-0 text-muted">Kategorie</p>
                <p class="h6 mb-0 mt-0">@SegmentWithEfforts.StravaSegment.GetClimbCategoryLabel()</p>
            </div>
            <div class="col border-0">
                <p class="small mb-0 text-muted">Ort/Strecke</p>
                <p class="h6 mb-0 mt-0">
                    @SegmentWithEfforts.StravaSegment.City<text>&nbsp;</text>
                    @if (!String.IsNullOrEmpty(SegmentWithEfforts.StravaSegment.RouteRecommendation))
                    {
                        <a href="@SegmentWithEfforts.StravaSegment.RouteRecommendation" target="_blank" title="Streckenvorschlag" alt="Streckenvorschlag"><span class="oi oi-link-intact"></span></a>
                    }
                </p>
            </div>
        </div>
        <hr />
        <p class="card-text">
            <div class="overflow-auto" style="max-height: 500px">
                @((MarkupString)SegmentWithEfforts.StravaSegment.Description)
            </div>
        </p>
        <hr />
            <ul class="list-group list-group-flush">
                @foreach (var d in _daySections)
                {
                    <li class="list-group-item">
                        <div class="fw-bold">@d.Day.ToString("dd.MM.yyyy")</div>
                        <ul class="list-group list-group-numbered">
                            @foreach(StravaSegmentEffort e in d.Efforts)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div>
                                            <Tooltip Text="Strava Profil" ImageLink="@e.ProfileImageLink" ImageHeight="124px" Link="@e.GetAhtleteLink()">@e.AthleteName</Tooltip>
                                        </div>
                                    </div>
                                    <h6>
                                        <a href="@e.GetActivitySegmentLink()" target="_blank" title="@(e.ActivityName ?? e.AthleteName)" alt="Segmentleistung"><span class="badge bg-primary rounded-pill">@e.GetElapsedTimeAsString()</span></a>
                                    </h6>
                                </li>
                            }
                        </ul>
                    @if (d.EffortsWomen.Count() > 1)
                    {
                        <div class="fst-italic">Frauen</div>
                        <ul class="list-group list-group-numbered">
                            @foreach (StravaSegmentEffort e in d.EffortsWomen)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div>
                                            <Tooltip Text="Strava Profil" ImageLink="@e.ProfileImageLink" ImageHeight="124px" Link="@e.GetAhtleteLink()">@e.AthleteName</Tooltip>
                                        </div>
                                    </div>
                                    <h6>
                                        <a href="@e.GetActivitySegmentLink()" target="_blank" title="@e.AthleteName" alt="Segmentleistung"><span class="badge bg-primary rounded-pill">@e.GetElapsedTimeAsString()</span></a>
                                    </h6>
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
            </ul>
            <hr />
            @if (!String.IsNullOrEmpty(SegmentWithEfforts.StravaSegment.RouteRecommendation))
            {
                <a href="@SegmentWithEfforts.StravaSegment.RouteRecommendation" target="_blank">Streckenempfehlung</a>
            }
    </div>
    <div class="card-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="Aktionen zum Segment">
            <AuthorizeView Roles="admin,segmentadmin">
                <Authorized>
                    <div class="btn-group mr-2" role="group" aria-label="Ändern">
                        <button class="btn btn-sm btn-outline-secondary" title="Ändern" @onclick="@(() => EditItem(SegmentWithEfforts.StravaSegment.SegmentId))"><span class="oi oi-pencil"></span></button>
                        <button class="btn btn-sm btn-outline-secondary" title="Löschen" @onclick="@(() => DeleteItem())"><span class="oi oi-trash"></span></button>
                    </div>
                </Authorized>
            </AuthorizeView>
            @foreach (string tag in SegmentWithEfforts.StravaSegment.GetTags())
            {
                <span class="badge bg-light text-dark p-1 m-0 mt-2">
                    #@tag
                </span>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public StravaSegmentWithEfforts SegmentWithEfforts { get; set; } = new StravaSegmentWithEfforts();
    [Parameter]
    public EventCallback OnReload { get; set; }
    [CascadingParameter]
    public IModalService? Modal { get; set; }
    private List<StravaSegmentEffort> _efforts = new List<StravaSegmentEffort>(50);
    private IEnumerable<DaySection> _daySections = new List<DaySection>();

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => ReadData());
    }
    protected void ReadData()
    {
        _efforts = new List<StravaSegmentEffort>(SegmentWithEfforts.Efforts);
        _daySections = _efforts.GroupBy(
            e => e.StartDateLocal.Date,
            e => e,
            (day, efforts) => new DaySection
                {
                    Day = day,
                    Count = efforts.Count(),
                    Efforts = efforts,
                    EffortsWomen = efforts.Where(e => e.AthleteSex == "F")
                }
        ).Where(d => d.Count > 0);
    }
    protected void EditItem(ulong itemId)
    {
        NavigationManager.NavigateTo($"/editsegment/{itemId}");
    }

    protected async Task DeleteItem()
    {
        if (null != Modal)
        {
            ModalResult result = await Confirm.ShowDialog(Modal, "Segment löschen?", "Soll das Segment wirklich gelöscht werden?");
            if (result.Cancelled || !(result.Data is bool accepted) || !accepted)
            {
                return;
            }
            await Api.DeleteSegment(SegmentWithEfforts.StravaSegment);
            NavigationManager.NavigateTo($"/", true);
        }
    }

    private async Task OnSaveComment()
    {
        await OnReload.InvokeAsync();
        ReadData();
    }
    private async Task Reload()
    {
        await OnReload.InvokeAsync();
    }

    internal class DaySection
    {
        public DateTime Day;
        public int Count;
        public IEnumerable<StravaSegmentEffort> Efforts = new List<StravaSegmentEffort>();
        public IEnumerable<StravaSegmentEffort> EffortsWomen = new List<StravaSegmentEffort>();
    }
}
